nav .brand-logo{
	font-size: 20px;
    margin-left: 20px;
}

i.left{
	font-size: x-large;
}

.container{
	color: #888;
}

blockquote,.card{
	line-height: 2
}

pre{
	margin: 5px;
}

.row{
	margin-bottom: 0;
}

.text-center{
	text-align: center;
}